$bg: rgb(15, 15, 15);


.row{
    background-color: $bg;
    padding: 1rem;

    >h2{
       font-weight: 400;
       margin: .5rem;
       color: #fff;
    }

    >div{
        display: flex;
        overflow-x: auto;
        
    }
}